/****
TOP NAVIGATION BAR
****/

.topnav {
    background-color: black;
    overflow: hidden;
}


/****
TOP NAVIGATION STANDARD LINK BEHAVIOUR
****/

.topnav ul li {
    color: white;
    float: left;
    margin: 5px;
    list-style-type: none;
}


/****
HIGHLIGHT Standard navlinks
DISABLED: TOO MANY ISSUES
****/


/****
.topnav ul li:hover {
    color: black;
    background-color: white;
}
****/


/****
HIDE Dropdown Sublinks by default
****/

.topnav ul li ul li {
    display: none;
}


/****
DISPLAY Dropdown menus upon hovering
****/

.topnav ul li:hover ul li {
    display: inline-block;
}


/****
HIGHLIGHT Dropdown links upon hovering
****/

.topnav ul li ul li:hover {
    color: black;
    background-color: white;
}