/****
TOP NAVIGATION BAR
****/

.topnav {
    background-color: black;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.topnav>ul {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", monospace;
}

.std_link {
    color: white;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    list-style-type: none;
    border: 2px solid white;
    border-bottom-style: hidden;
}


/****
TOP NAVIGATION STANDARD LINK BEHAVIOUR
****/

.dropdown_link {
    color: white;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    list-style-type: none;
    border: 2px solid white;
    border-bottom-style: hidden;
}


/****
HIGHLIGHT Standard navlinks
DISABLED: TOO MANY ISSUES
****/


/****
.topnav ul li:hover {
    color: black;
    background-color: white;
}
****/


/****
HIDE Dropdown Sublinks by default
****/


/*.dropdown_link ul li {
    display: none;
}*/


/****
REMOVE standard padding and margins
****/

.dropdown_link p {
    margin: 0;
    padding: 0;
}


/****
HIGHLIGHT active menu elements
****/

.dropdown_link:hover p {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}


/****
REMOVE standard padding and margins for std link
****/

.std_link p {
    margin: 0;
    padding: 0;
}


/****
HIGHLIGHT active menu elements for std link
****/

.std_link:hover p {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}


/****
DISPLAY Dropdown menus upon hovering
****/

.dropdown_link:hover div {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/****
HIGHLIGHT Dropdown links upon hovering
****/

.dropdown_menu ul li:hover {
    color: black;
    background-color: white;
}

.dropdown_menu ul li {
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown_menu ul {
    background-color: black;
    position: absolute;
    padding-left: 0;
}

.dropdown_menu {
    display: none;
}

.explanation {
    margin-top: 60px;
    background-color: black;
    color: white;
    font-family: "Lucida Console", monospace;
    padding: 10px;
}