/****
TOP NAVIGATION BAR
****/

.topnav {
    background-color: black;
    overflow: hidden;
}

.std_link {
    color: white;
    float: left;
    margin: 5px;
    list-style-type: none;
}


/****
TOP NAVIGATION STANDARD LINK BEHAVIOUR
****/

.dropdown {
    color: white;
    float: left;
    margin: 5px;
    list-style-type: none;
}


/****
HIGHLIGHT Standard navlinks
DISABLED: TOO MANY ISSUES
****/


/****
.topnav ul li:hover {
    color: black;
    background-color: white;
}
****/


/****
HIDE Dropdown Sublinks by default
****/

.dropdown ul li {
    display: none;
}


/****
REMOVE standard padding and margins
****/

.dropdown p {
    margin: 0;
    padding: 0;
}


/****
HIGHLIGHT active menu elements
****/

.dropdown:hover p {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}


/****
REMOVE standard padding and margins for std link
****/

.std_link p {
    margin: 0;
    padding: 0;
}


/****
HIGHLIGHT active menu elements for std link
****/

.std_link:hover p {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}


/****
DISPLAY Dropdown menus upon hovering
****/

.dropdown:hover ul li {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/****
HIGHLIGHT Dropdown links upon hovering
****/

.dropdown ul li:hover {
    color: black;
    background-color: white;
}